<div class="create_swms_card">
    <div class="material-text-field">
        <input required type="text" name="Business Name" id="businessName" >
        <label for="businessName">Business Name</label>
    </div>
    
</div>
<div class="create_swms_card">
    <div class="material-text-field">
        <input required type="text" name="Your Name" id="name" >
        <label for="name">Your Name</label>
    </div>
    
</div>
<div class="create_swms_card">
    <div class="material-text-field">
        <input required type="text" name="Your Email" id="email" >
        <label for="email">Your Email</label>
    </div>
    
</div>
<div class="create_swms_card">
    <div class="material-text-field">
        <input required type="password" name="Password" id="password" >
        <label for="password">Password</label>
    </div>
    
</div>
<p>{{.}}</p>
<button class="button" type="submit">Register</button>