<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="/static/script.js"></script>
    <script src="/static/components.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<navigation-bar page="account"></navigation-bar>
<div class="swms_wrapper">
    <div class="create_swms_card">
        <h4>Name</h4>
        <p>{{.User.Name}}</p>
        <h4>Email</h4>
        <p>{{.User.Email}}</p>
    </div>
    <div class="create_swms_card">
        <h4>Name</h4>
        <p>{{.Organisation.Name}}</p>
        <h4>Email</h4>
        <p>{{.Organisation.BusinessEmail}}</p>
    </div>
    <div class="create_swms_card">
        <h4>Billing Start</h4>
        <p>{{.CurrentPeriodStart}}</p>
        <h4>Billing End</h4>
        <p>{{.CurrentPeriodEnd}}</p>
        <h4>Stripe URL</h4>
        <p>{{.Organisation.StripeUrl}}</p>

    </div>
    <div class="create_swms_card">
        {{range .StripeInvoices}}
        <h4>Invoice</h4>
        <p>{{.StripeStatus}}</p>
        <p>{{.StripePDFLink}}</p>
        {{end}}
    </div>
    </div>
</body>
</html>