<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Styled Hello World</title>
    <link rel="stylesheet" href="/static/styles.css">    
    <script src="/static/script.js"></script>
    <script src="/static/components.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
<navigation-bar page="create"></navigation-bar>
<div class="swms_wrapper">
    <div class="header">
        <h1>Create</h1>
    </div>

    <form id="form">
        <div class="create_swms_card">
            <div class="material-text-field">
                <input required type="text" name="Project Address" id="projectAddress" >
                <label for="projectName">Project Name</label>
            </div>
            
        </div>
        <div class="create_swms_card">
            <div class="material-text-field">
                <input required type="text" name="Scope of Work" id="scopeOfWork" >
                <label for="scopeOfWork">Scope of Work</label>
            </div>
            
        </div>
        <div class="create_swms_card">
            <div class="material-style-input">
                <input  type="date" id="date-developed" class="date-input">
                <label for="date-developed" class="date-label">Date Developed</label>
            </div>
        </div>
        
        <div class="create_swms_card">
        <div class="material-style-input">
            <input type="date" id="approval-date" class="date-input">
            <label for="approval-date" class="date-label">Approval Date</label>
        </div>
        </div>
        <div class="create_swms_card">
        <div class="material-style-input">
            <input type="date" id="date-last-reviewed" class="date-input">
            <label for="date-last-reviewed" class="date-label">Date Last Reviewed</label>
        </div>
        </div>
        <div class="create_swms_card">
        <div class="material-style-input">
            <input type="date" id="next-review-date" class="date-input">
            <label for="next-review-date" class="date-label">Next Review Date</label>
        </div>
        </div>
    
        {{range .}}
        <div class="create_swms_card">
            <h6>{{.Name}}</h6>
            {{range .Values}}
            <div class="input_section">
                <input onchange="changehandler(this)" type="checkbox" name="{{range .Task}}{{.}}{{end}}" id="{{.SubId}}" value="{{.ParentId}}-{{.SubId}}">
                <label for="{{.SubId}}">
                    <p>
                        {{range .Task}}
                        {{.}}
                        {{end}}
                    </p>
                </label>
            </div>
            <br>
            {{end}}
        </div>
        {{end}}

        <button class="button" type="submit">Create</button>
    </form>
    <div id="swms"></div>
</div>
</body>
</html>
