<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Styled Hello World</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <div class="header">
        <h1>Create</h1>
    </div>

    <script>
        var formdata = {}
        var schema_data = []

        function updateSchemaData(parentId, subId, bool) {
            const schema = schema_data.find((schema) => schema.id == parentId);
            const subSchema = schema.values.find((subSchema) => subSchema.subId == subId);
            subSchema.checked = bool;
        }

        const changehandler = (checkbox) => {
            const parentId = checkbox.value.split("-")[0];
            const subId = checkbox.value.split("-")[1];
            if (checkbox.checked) {
                updateSchemaData(parentId, subId, true);
            } else {
                updateSchemaData(parentId, subId, false);   
            }
        }

        const submitHandler = async (e) => {
            e.preventDefault();
            console.log(schema_data);

            const req_body = [];
            for (const s of schema_data) {
                const filteredValues = s.values.filter(v => v.checked);
                if (filteredValues.length > 0) {
                    let newSchema = { ...s, values: filteredValues };
                    req_body.push(newSchema);
                }
            }   
         

            const response = await fetch("/api/swms", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    projectAddress: document.getElementById("projectAddress").value,
                    tableData: req_body
                })
            });
            if (response.ok) {
                //redirect to home page
                window.location.href = "/";
            }
        }

        document.addEventListener("DOMContentLoaded", async function(event) {
            console.log('is running')
            var response = await fetch("/api/swms/schema");
            if (response.ok) {
                var data = await response.json();
                if (Array.isArray(data)) {
                    schema_data = data;
              
                }
            }
        });

        document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById("form").addEventListener("submit", submitHandler);
        });

       

    </script>

    <form id="form">
        <div class="create_swms_card">
            <div class="material-text-field">
                <input type="text" name="Project Address" id="projectAddress" >
                <label for="projectName">Project Name</label>
            </div>

        </div>
    
        {{range .}}
        <div class="create_swms_card">
            <h6>{{.Name}}</h6>
            {{range .Values}}
            <div class="input_section">
                <input onchange="changehandler(this)" type="checkbox" name="{{range .Task}}{{.}}{{end}}" id="{{.SubId}}" value="{{.ParentId}}-{{.SubId}}">
                <label for="{{.SubId}}">
                    <p>
                        {{range .Task}}
                        {{.}}
                        {{end}}
                    </p>
                </label>
            </div>
            <br>
            {{end}}
        </div>
        {{end}}

        <button class="button" type="submit">Create</button>
    </form>
    <div id="swms"></div>
</body>
</html>
