<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <h6>Login</h6>
        <form hx-post="/login" method="POST">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button class="button" type="submit">Login</button>
        </form>
    </div>
</body>
</html>