<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Document</title>
</head>
<body>
    <script>
        document.addEventListener("loginSuccess", function() {
            setTimeout(() => {
                console.log("reloading", loginSuccess);
                location.replace('/')
                location.reload()
            }, 2000);
    })
    </script>
    <div class="login_form">
        <form hx-post="/api/login"  hx-swap="innerHTML" class="login_card" method="POST">
            <h6>Login</h6>
            <div class="material-text-field">
                <input required type="text" id="email" name="email" placeholder="Email" >
                <label for="email">Email</label>
            </div>
         
            <div class="material-text-field">
                <input required type="password" id="password" name="password" placeholder="Password" >
                <label for="email">Password</label>
            </div>
         
 
            <button class="button" type="submit">Login</button>
        </form>
    </div>
</body>
</html>