<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Document</title>
</head>
<body>
    <div class="hero_image">
        <div class="nav_bar">
            <div class="title">SWMS Generator</div>
            <div class="elements">
                <a class="login_button" href="/login">
                    <button >Login</button>
                </a>
                <a>
                    <button class="register_button">Register</button>
                </a>
            </div>
        </div>
    </div>
    <div class="hero_card_container">
        <div class="hero_card_content">Choose your risks</div>
        <div class="hero_card_content">Create your job</div>
        <div class="hero_card_content">Less admin time</div>

    </div>
    <div class="tag_line">
        <hr>
        <h6>SWMS Generator</h6>
        <h2>Generate SWMS documents for your construction projects</h2>
    </div>
</body>
</html>