<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Document</title>
</head>
<body>
    <div class="hero_image">
        <div class="nav_bar">
            <div class="title">SWMS Generator</div>
            <div class="elements">
                <a class="login_button" href="/login">
                    <button >Login</button>
                </a>
                <a>
                    <button class="register_button">Register</button>
                </a>
            </div>
        </div>
    </div>
    <h1>Hello World</h1>
</body>
</html>